{% assign portfolio_data = site.data.site_data[page.portfolio_data] %}
<div class="tokyo_tm_portfolio_titles"></div>
<!-- PORTFOLIO -->
<div id="portfolio" class="tokyo_tm_section">
    <div class="container">
        <div class="tokyo_tm_portfolio">
            <div class="tokyo_tm_title">
                <div class="title_flex">
                    <div class="left">
                        <span>Portfolio</span>
                        <h3>{{portfolio_data.title}}</h3>
                    </div>
                    <!--<div class="portfolio_filter">
                        <ul>
                            <li><a href="#" class="current" data-filter="*">All</a></li>
                            <li><a href="#" data-filter=".vimeo">Vimeo</a></li>
                            <li><a href="#" data-filter=".youtube">Youtube</a></li>
                            <li><a href="#" data-filter=".soundcloud">Soundcloud</a></li>
                            <li><a href="#" data-filter=".image">Image</a></li>
                        </ul>
                    </div>-->
                </div>
            </div>
            <div class="list_wrapper">
                <h2 id="recorded-webinars-workshops-tutorials-interviews">Recorded Webinars, Workshops, Tutorials, &amp; Interviews</h2>
                <ul>
                <li>December 2020 — Element14: <a href="https://www.element14.com/community/events/5674/l/introduction-to-tinyml-by-edge-impulse">Introduction to TinyML by Edge Impulse</a><ul>
                <li>Winner of Element14’s <a href="https://www.element14.com/community/docs/DOC-96165/l/2020-year-in-review-awards-the-winners#webinar">“Favorite Webinar of Year 2020”</a></li>
                </ul>
                </li>
                <li>January 2021 — Arm Innovation Coffee Chat: <a href="https://www.youtube.com/watch?v=eOF3NA0Me7Q">Interview with Zach Shelby, Pete Warden, Alessandro Grande, &amp; Robert Wolff</a></li>
                <li>February 2021 — Texas Instruments University: <a href="https://event.on24.com/eventRegistration/EventLobbyServlet?target=reg20.jsp&amp;mode=login&amp;loginemail=o-loera%40ti.com&amp;eventid=2996419&amp;sessionid=1&amp;key=30161E260D75AB000445DD4A5C855DEE&amp;regTag=&amp;V2=false&amp;sourcepage=register">Embedded machine learning with TI LaunchPad™ development kits &amp; Edge Impulse</a></li>
                <li>March 2021 — Element14: <a href="https://www.element14.com/community/events/5761/l/thunderboard-workshop-industrial-grade-tinyml-applications-with-silicon-labs-and-edge-impulse">Industrial-Grade TinyML Applications with Silicon Labs and Edge Impulse</a></li>
                <li>May 2021 — Embedded Vision Summit: <a href="https://www.youtube.com/watch?v=_T6h3Jmq2Yk">High-Speed Object Detection with Jetson Nano and Edge Impulse</a></li>
                <li>June 2021 — Arrow Tech Snacks Festival: <a href="https://register.gotowebinar.com/register/4941644376358448396">Deep-dive: Build Industrial-Grade Embedded Applications In Days, Not Months, with Edge Impulse and Silicon Labs</a><ul>
                <li><a href="https://register.gotowebinar.com/register/1871782622855797262">Tech Snack: Build Industrial-Grade Embedded Applications In Days, Not Months, with Edge Impulse and Silicon Labs</a></li>
                </ul>
                </li>
                <li>June 2021 — Tutorial: <a href="https://youtu.be/OI9AymVUU_4">Connecting Sony&#39;s Spresense to Edge Impulse</a></li>
                <li>July 2021 — Embedded Online Conference: <a href="http://www.embeddedonlineconference.com/workshop/Learning_how_to_Deliver_AI_Solution_In_Days_Not_Months">Learning How to Deliver AI Solutions In Days, Not Months with Sony&#39;s Spresense</a></li>
                <li>July 2021 — Interview: <a href="https://www.youtube.com/watch?v=_Ozui1kkOyo">Edge Impulse Embedded Machine Learning AMA</a></li>
                <li>August 2021 — Hackster: <a href="https://www.youtube.com/watch?v=ipPLZNkAI0Y">Supercharge Your Products with Sony&#39;s Spresense &amp; Edge Impulse Embedded ML</a></li>
                <li>August 2021 — Hackster Café: <a href="https://www.youtube.com/watch?v=_MX_XjyYMcQ">Jenny Plunkett on Edge Impulse + Sony&#39;s Spresense</a></li>
                <li>October 2021 — Tutorial: <a href="https://youtu.be/2hOvUUhlngs">Getting Started with Edge Impulse and Sony&#39;s Spresense</a></li>
                <li>October 2021 — DSP Online Conference: <a href="https://www.dsponlineconference.com/session/Real_Life_Embedded_ML_plus_The_AI_Powered_Nose">Real Life Embedded ML + The AI-Powered Nose</a></li>
                <li>November 2021 — Google TensorFlow: <a href="https://www.youtube.com/watch?v=gw1E5JZTim0">TensorFlow ML Community Day: Building Machine Learning models with Edge Impulse</a></li>
                <li>November 2021 — IoT Central &amp; Arduino PRO: <a href="https://register.gotowebinar.com/register/4284862102840899596?source=IoTCMC">Factory 5.0: ML-Powered Manufacturing Workshop</a></li>
                <li>December 2021 — Adobe ColdFusion Summit: <a href="https://cfsummit.vconfex.com/event/adobe-coldfusion-summit-2021_/1290?redirect=1#category=6&amp;module=28150">The Dawn of Machine Learning, AI and You</a></li>
                <li>February 2022 — Element14: <a href="https://community.element14.com/learn/events/c/e/1575">Machine Learning &amp; Sensor Fusion Make Smart Cities, Smarter!</a></li>
                <li>April 2022 — Danish Sound Cluster: <a href="https://danishsoundcluster.dk/edge-impulse-for-consumer-audio-applications/">Edge Impulse for Consumer Audio Applications</a></li>
                <li>April 2022 — IoT Central: <a href="https://www.iotcentral.io/videos/classify-non-human-voice-audio-for-automation-and-embedded-ml">Classify Non-Human Voice Audio for Automation and Embedded Machine Learning</a></li>
                <li>May 2022 — IoT Central: <a href="https://www.iotcentral.io/videos/create-real-time-object-detection-on-low-power-microcontrollers">Create Real-Time Object Detection on Low-Power Microcontrollers</a></li>
                <li>June 2022 — Danish Sound Cluster: <a href="https://danishsoundcluster.dk/keyword-detection-esp32/">Keyword detection ESP32 Workshop</a></li>
                <li>June 2022 — Embedded Vision Summit: <a href="https://www.youtube.com/watch?v=YmBWmXDLIdY">Edge Impulse Demonstration of Screw and Washer Detection with FOMO</a></li>
                <li>June 2022 — Embedded Vision Summit: <a href="https://www.youtube.com/watch?v=nbxdRnQ7wew">Edge Impulse Demonstration of Wildlife Monitoring with Sony Spresense</a></li>
                <li>June 2022 — Tutorial: <a href="https://www.youtube.com/watch?v=dj-2T8DVtSg">Getting Started with the Arduino Nicla Sense ME and Edge Impulse
                </a></li>
                <li>July 2022 — AMA: <a href="https://www.youtube.com/watch?v=ponZ2ahE3uQ">Edge Impulse MLOps AMA</a></li>
                </ul>
                <h2 id="technical-writing-samples">Technical Writing Samples</h2>
                <h3 id="o-reilly-media">O&#39;Reilly Media</h3>
                <ul>
                <li>Book - <a href="https://www.oreilly.com/library/view/ai-at-the/9781098120191/">&quot;AI at the Edge&quot; by Daniel Situnayake &amp; Jenny Plunkett</a></li>
                </ul>
                <h3 id="edge-impulse">Edge Impulse</h3>
                <ul>
                <li>Tutorial — <a href="https://www.edgeimpulse.com/blog/infineon-sense2gol-pulse">Using Doppler Radar for Gesture Recognition with the Infineon Sense2GoL-Pulse</a></li>
                <li>Blog — <a href="https://www.edgeimpulse.com/blog/utilize-the-power-of-the-crowd-for-data-collection">Utilize the Power of the Crowd for Data Collection</a></li>
                <li>Blog — <a href="https://www.edgeimpulse.com/blog/introducing-downsampling-for-time-series-data">Introducing Downsampling for Time Series Data</a></li>
                <li>Blog — <a href="https://www.edgeimpulse.com/blog/continuous-audio-classification-directly-in-your-web-browser">Continuous Audio Classification Directly in Your Web Browser</a></li>
                <li>Blog — <a href="https://www.edgeimpulse.com/blog/introducing-the-eon-tuner-edge-impulses-new-automl-tool-for-embedded-machine-learning">Introducing the EON Tuner: Edge Impulse&#39;s New AutoML Tool for Embedded Machine Learning</a></li>
                <li>Blog — <a href="https://www.edgeimpulse.com/blog/bird-classification-lacuna-space">Bird Classification in Remote Areas with Lacuna Space and The Things Network</a></li>
                <li>Blog — <a href="https://www.edgeimpulse.com/blog/announcing-support-for-the-sony-spresense">Announcing Support for Sony&#39;s Spresense Microcontroller</a></li>
                <li>Blog — <a href="https://www.edgeimpulse.com/blog/unleash-the-power-of-lte-mnb-iot-and-edge-ai-with-the-nrf9160-dk">Unleash the Power of LTE-M/NB-IoT &amp; Edge AI with the nRF9160 DK</a></li>
                <li>Blog — <a href="https://www.edgeimpulse.com/blog/announcing-official-support-for-the-silicon-labs-xg24-dev-kit">Announcing Official Support for the Silicon Labs xG24 Dev Kit</a></li>
                <li>Blog — <a href="https://www.edgeimpulse.com/blog/showcase-your-public-projects-with-markdown-readmes">Showcase Your Public Projects with Markdown READMEs</a></li>
                <li>Blog — <a href="https://www.edgeimpulse.com/blog/advanced-anomaly-detection-with-feature-importance">Advanced Anomaly Detection with Feature Importance</a></li>
                <li>Blog — <a href="https://www.edgeimpulse.com/blog/3-ways-to-do-ai-assisted-labeling-for-object-detection">3 Ways to Do AI-Assisted Labeling for Object Detection</a></li>
                <li>Blog — <a href="https://www.edgeimpulse.com/blog/rapidly-develop-machine-learning-models-for-edge-applications-over-ble">Rapidly Develop Machine Learning Models for Edge Applications Over BLE</a></li>
                <li>Documentation — <a href="https://docs.edgeimpulse.com/docs/development-platforms/officially-supported-mcu-targets/arduino-nicla-sense-me">Getting Started with Arduino Nicla Sense ME</a></li>
                <li>Documentation — <a href="https://docs.edgeimpulse.com/docs/development-platforms/officially-supported-mcu-targets/nordic-semi-thingy53">Getting Started with Nordic Semi Thingy:53 &amp; nRF Edge Impulse App</a></li>
                <li>Documentation — <a href="https://docs.edgeimpulse.com/docs/sony-spresense">Getting Started with Sony&#39;s Spresense</a></li>
                <li>Documentation — <a href="https://docs.edgeimpulse.com/docs/eon-tuner">EON Tuner Guide</a></li>
                </ul>
                <h3 id="arm-mbed">Arm Mbed</h3>
                <ul>
                <li>Blog — <a href="https://os.mbed.com/blog/entry/How-to-use-emWin-with-Mbed-OS/">How to use emWin with Mbed OS</a></li>
                <li>Blog — <a href="https://os.mbed.com/blog/entry/How-to-LPCXpresso54608-touch-panel/">How to use the LPCXpresso54608&#39;s Touch Panel</a></li>
                <li>Tutorial — <a href="https://os.mbed.com/users/jplunkett/notebook/updating-component-to-mbed-os/">Updating an old Mbed 2 component to Mbed OS</a></li>
                <li>Tutorial — <a href="https://os.mbed.com/users/jplunkett/notebook/first-mbed-application/">Creating your first Mbed application</a></li>
                <li>Forum — <a href="https://os.mbed.com/questions/82191/mbed-http-compile-fail/">Library compiling issue</a></li>
                <li>Forum — <a href="https://os.mbed.com/questions/82107/How-do-I-manage-the-code-in-my-local-rep/">Microbit &amp; local code repository issue</a></li>
                <li>Forum — <a href="https://os.mbed.com/questions/82092/How-to-get-led-to-blink-and-print-times-/">Beginning developer notes &amp; advice</a></li>
                <li>Forum — <a href="https://os.mbed.com/questions/81824/offline-API-document/">How to view API docs offline</a></li>
                </ul>

                <ul class="portfolio_list gallery_zoom">
                    {% for portfolio in site.data.portfolio %}

                        <!--{% assign protCat = portfolio.cat | slugify %}
                        {% if protCat == 'youtube' %}
                            {% assign popClass = 'popup-youtube' %}
                        {% elsif protCat == 'vimeo'%}
                            {% assign popClass = 'popup-vimeo' %}
                        {% elsif protCat == 'soundcloud'%}
                            {% assign popClass = 'soundcloude_link mfp-iframe audio' %}
                        {% elsif protCat == 'image'%}
                            {% assign popClass = 'zoom' %}
                        {% endif %} -->

                        <!--<li class="{{portfolio.filter_classes}}">
                            <div class="inner">
                                <div class="entry tokyo_tm_portfolio_animation_wrap" data-title="{{portfolio.name}}"
                                    data-category="{{portfolio.cat | capitalize}}">
                                    <a class="{{popClass}}" href="{{portfolio.project_url | relative_url}}">
                                        <img src="{{portfolio.img_src | relative_url}}" alt="{{portfolio.name}}" />
                                        <div class="main_image" data-img-url="{{portfolio.img_src | relative_url}}">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li> -->
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /PORTFOLIO -->
