<div class="page-header">
  <div class="panel panel-default jumbotron-header jumbotron">
    <div class="panel-body">
        <img src="/images/me1.png" alt="Jenny Plunkett" style="width:25%; vertical-align=middle" align="right" />
      <h1><a href="/" style="text-decoration: none" color: black; >{{ site.title }}</a></h1>
        <h3>Bachelor of Science in Computer Engineering</br>
        The University of Texas at Austin, Expected May 2017</h3>
        <h3>
            <span style="margin-right:.2em"><a href="https://www.facebook.com/piccoloplayer"><i class="fa fa-facebook-square solo fa-lg"></i></a></span>
            <span style="margin-right:.2em"><a href="https://www.linkedin.com/in/jennyplunkett"><i class="fa fa-linkedin-square solo fa-lg"></i></a></span>
            <span style="margin-right:.2em"><a href=mailto:jenny@jennyplunkett.me><i class="fa fa-envelope-square solo fa-lg"></i></a></span>
            </h3>
    </div>
  </div>
</div>

<!--
<div class="alert alert-dismissable alert-warning">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Pardon the dust</h4>
    <p>Please pardon the dust, my website is still under construction.</p>
</div>
-->
