{% if site.intro %}
    <div id="intro">
        <div class="container">
            {% if site.profile_picture %}
                <a href="/about"><img id="intro-img" src="/images/me.png"></a>
            {% endif %}
            <h2>
                {% if site.site_heading %}
                    {{ site.site_heading }}
                {% else %}
                    {{ site.title }}
                {% endif %}
            </h2>
            <p style="margin-top: 20px;">
                <a href="/resume">{{ site.short_bio }}</a>
            </p>
            <p style="margin-top: 20px;">
                <a href="/portfolio">View my portfolio!</a>
            </p>
        </div>
    </div>
{% else %}
    <section class="intro">
        <div class="container">
            <h2 class="site-name">
                {% if site.site_heading %}
                    {{ site.site_heading }}
                {% else %}
                    {{ site.title }}
                {% endif %}
            </h2>
        </div>
    </section>
{% endif %}
