<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
<!-- <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" {% if page.title =="Home" %}checked{% endif %}> -->

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
      <img src="/images/me.png" style="border-radius:50%">
      <p>Jenny Plunkett</br>BS Computer Engineering</br>The University of Texas at Austin</p>
<h4>
            <span style="margin-right:.6em"><a href="https://www.linkedin.com/in/jennyplunkett"><i class="fa fa-linkedin-square fa-lg"></i></a></span>
            <span style="margin-right:.6em"><a href="https://github.com/yennster"><i class="fa fa-github-square fa-lg"></i></a></span>
            <span style="margin-right:.6em"><a href="https://plus.google.com/+JennyPlunkett/"><i class="fa fa-google-plus-square fa-lg"></i></a></span>
            <span style="margin-right:.6em"><a href=mailto:jplunkett@utexas.edu><i class="fa fa-envelope-square fa-lg"></i></a></span>
</h4>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
    
    <a class="sidebar-nav-item" href="/aboutme.html">About Me</a>
    <a class="sidebar-nav-item" href="/resume.html">Resume</a>
  </nav>

<div class="sidebar-item">
    <p>
      &copy; Jenny Plunkett {{ site.time | date: '%Y' }}
    </p>
  </div>
</div>
