<!-- SETTINGS -->
<div class="tokyo_tm_settings">
    <div class="icon">
        <img class="svg" src="{{'/assets/img/svg/setting.svg' | relative_url}}" alt="tk-theme-settings" />
        <a class="link" href="#"></a>
    </div>
    <div class="wrapper">
        <span class="title">Theme Color</span>
        <ul class="tk-theme-color">
            <li><a class="black" href="#"></a></li>
            <li><a class="white active" href="#"></a></li>
        </ul>
        <span class="title">Unlimited Colors</span>
        <ul class="colors tk-unlimited-colors">
            <li><a class="blue" href="#"></a></li>
            <li><a class="green" href="#"></a></li>
            <li><a class="brown" href="#"></a></li>
            <li><a class="pink" href="#"></a></li>
            <li><a class="orange" href="#"></a></li>
            <li class="bl"><a class="black" href="#"></a></li>
            <li class="wh"><a class="white" href="#"></a></li>
            <li><a class="purple" href="#"></a></li>
            <li><a class="sky" href="#"></a></li>
            <li><a class="cadetBlue" href="#"></a></li>
            <li><a class="crimson" href="#"></a></li>
            <li><a class="olive" href="#"></a></li>
            <li><a class="red" href="#"></a></li>
        </ul>
        <span class="title">Theme Radius</span>
        <ul class="tk-theme-radius colors">
            <li><a class="green tk-rounded" href="#"></a></li>
            <li><a class="green tk-square" href="#"></a></li>
        </ul>
        <span class="title">Magic Cursor</span>
        <ul class="cursor">
            <li><a class="showme show" href="#"></a></li>
            <li><a class="hide" href="#"><img class="svg" src="{{'/assets/img/svg/arrow.svg' | relative_url}}" alt="" /></a></li>
        </ul>
        
    </div>
</div>
<!-- /SETTINGS -->